*{
    margin: 0;
}

button{
    border: none;
}

html{
    background: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png) no-repeat center fixed;     
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

.all{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(180, 180, 180);
}

.darker_text{
    color: rgb(70, 70, 70);
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 4%;
}

.entrar{
    color: #fc1b50;
    font-weight: bolder;
}

.forms{
    padding: 5% 2%;
    background-color: white;
    margin: 5%;
    border-radius: 5px;
    margin-top: 13px;
}

.form_element{
    margin: 5% 3%;
    display: flex;
    flex-direction: column;
    height: 60px;
}

.element1{
    margin-top: 0;
}

.botoes_final{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: auto;
    position:sticky;
}

.fim{
    background-color: white;
    color: grey;
}

.viagens_mais_baratas{
    text-transform: uppercase;
    line-height: 2rem;
    color: white;
    padding-left: 3%;
    font-weight: bolder;
    font-size: 26px;
}

.sem_taxas{
    color: white;
    font-weight: 100;
    padding-top: 10px;
    margin: 0px;
    padding-left: 3%;
}

.texto{
    margin: 3%;
    margin-top: 5%;
    margin-bottom: 0;
}

.texto2{
    margin: 3%;
    margin-top: 1%;
}

.test{
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buscar{
    margin-left: 3%;
    margin-right: 3%;
    width: 94.9%;
    background-color: #f13460;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.icon{
    padding-top: 33px;
    padding-left: 8px;
    position: absolute;
}

.icon3{
    align-self: flex-end;
    padding-right: 10px;
    color: rgb(32, 136, 255);
}

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}