*{
    margin: 0;
}

html{
    background: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png) no-repeat center fixed;     
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

.all{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 4%;
}

.entrar{
    color: #f15076;
}

.forms{
    padding: 5% 2%;
    background-color: white;
    margin: 5%;
}

.form_element{
    margin: 5% 3%;
    display: flex;
    flex-direction: column;
    height: 50px;
}

.element1{
    margin-top: 0;
}

.botoes_final{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: auto;
}

.viagens_mais_baratas{
    text-transform: uppercase;
    line-height: 2rem;
    color: white;
}

.sem_taxas{
    color: white;
    font-weight: 100;
}

.texto{
    margin: 3%;
    margin-top: 5%;
    margin-bottom: 0;
}

.texto2{
    margin: 3%;
    margin-top: 1%;
}

.test{
    width: 98%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.buscar{
    margin-left: 3%;
    margin-right: 3%;
    width: 94.9%;
}

.icon{
    /* align-self: flex-end; */
    padding-top: 20px;
    padding-right: 2px;
    position: absolute;
}

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}